# Automatically build the project and run any configured tests for every push
# and submitted pull request. This can help catch issues that only occur on
# certain platforms or Java versions, and provides a first line of defence
# against bad commits.

name: pull request
on: [ pull_request ]

jobs:
  build:
    strategy:
      matrix:
        # Use these Java versions
        java: [
          19
        ]
        # and run on both Linux and Windows
        os: [ ubuntu-22.04, windows-2022 ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout repository
        uses: actions/checkout@v3
      - name: validate gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: setup jdk ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          distribution: 'oracle'
          java-version: ${{ matrix.java }}
      - name: make gradle wrapper executable
        if: ${{ runner.os != 'Windows' }}
        run: chmod +x ./gradlew
      - name: datagen
        run: ./gradlew runDatagenClient
      - name: build
        run: ./gradlew build
      - name: capture build artifacts
        # Upload all artifacts
        uses: actions/upload-artifact@v3
        with:
          name: Artifacts
          path: build/libs/

